.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  width: 100%;
  flex: 1;
}

.headerItem {
  margin: 10px;
  color: red;
  width: 300px;
  background-color: cyan;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.points {
  text-align: center;
  vertical-align: middle;
  height: 70px;
}

.progress {
  background-color: green;
}

.buttonContainer {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: cornflowerblue;
  text-align: center;
}

.button {
  width: 100px;
  height: 70px;
}
